<div fxLayout="row" fxLayoutAlign="center" class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Simple Task #1</h1>
        <div>
          <a mat-flat-button color="basic" routerLink="load">
            <mat-icon>upload</mat-icon>
            Upload images (/load)
          </a>
          <a mat-flat-button color="basic"  routerLink="list">
            <mat-icon>list</mat-icon>
            List images (/list)
          </a>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>




